html, body
{
    height: 100vh;

}


.mainContianer{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.chatList{
    padding-right: 0px !important;
}

.chatPage{
    padding-left: 0px !important;
}

.chatBody{
    height: 80%;
}

#chatBoxDetails{
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 59px  !important;
    background-color: #EDEDED;
 
}

.chatImageDiv{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.chatUser{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 80%;
}

.mainContianer-chat{
    width: 100%;
    padding-right: 100px !important;
}


.chatFooterDetails{
width: 100%;
    display: flex;
    flex-direction: row;
}

.messageInput{
    flex-grow: 1;
}

.chatHeadImgDiv{
width: 10%;
}

.chatHeadIconDiv{
    width: 10%;
}