.mainContainer {
    height: 100vh !important;
    /*padding-right: 0px !important; */
    background: rgb(218, 219, 213);
    background: linear-gradient(0deg, rgba(218, 219, 213, 1) 80%, rgba(0, 150, 136, 1) 80%);
    margin: 0;
}

.spinnerCenter {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* width */
#style-3::-webkit-scrollbar {
    width: 5px;
    z-index: 1000;
}

/* Track */
#style-3::-webkit-scrollbar-track {
    background: #f1f1f1;
    z-index: 1000;
}

/* Handle */
#style-3::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    visibility: visible;
}

/* Handle on hover */
#style-3::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profileDiv {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mt-5 {
    margin-top: 8rem !important;
}

.px-6 {
    padding-left: 6rem !important;
}

.mainContainerRow {
    height: 90vh !important;
}

.chatRow {
    margin-left: 0 !important;
}
.chatItemHeader {
    height: 8vh;
}

.chatHeader {
    height: 8vh;
    border-left: solid 1px #dadada;
}

.chatList {
    padding-right: 0px !important;
}

.chatPage {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.userListDiv {
    height: 78vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatBody {
    height: 78vh !important;
    overflow-y: auto;
}

.chatBody-childDiv {
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    padding-left: 7.5% !important;
    padding-right: 7.5% !important;
    width: 100%;
}

.avatar {
    object-fit: cover;
}

#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#chatBoxDetails {
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    background-color: #ededed;
}

.chatImageDiv {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chatUser {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 80%;
}

.mainContianer-chat {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.chatFooter {
    background-color: #ededed;
    border-left: solid 1px #dadada;
    height: 7vh;
}

.chatFooterDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messageInput {
    position: relative;
    top: 22.5%;
    flex-grow: 1;
}

.profileImgDiv {
    width: 40%;
}

.rounded-circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.bkBox {
    background-color: white;
    height: 79.1vh !important;
}

.chatHeadImgDiv1 {
    width: 10%;
    margin-left: 8px;
}
.profile-rounded-circle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.profileForm {
    width: 80%;
}

.chatItemBody {
    height: 84.5vh !important;
    background-color: white;
}

.searchBarUsers:focus {
    outline: none !important;
    box-shadow: none !important;
}

.messageReceived {
    width: 60% !important;
    background-color: white;
    overflow-wrap: break-word;
}

.messageSent {
    width: 60% !important;
    background-color: #e1ffc7;
    overflow-wrap: break-word;
}
.profileImgDiv1 {
    width: 15%;
}

.style-3::-webkit-scrollbar {
    width: 5px;
    z-index: 1000;
}

/* Track */
.style-3::-webkit-scrollbar-track {
    background: #f1f1f1;
    z-index: 1000;
}

/* Handle */
.style-3::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    visibility: visible;
}

/* Handle on hover */
.style-3::-webkit-scrollbar-thumb:hover {
    background: #555;
}
